Repository not-three/draw, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, src, public, docker, package

ci: fix references to ui -> draw
  .github/workflows/nightly.yml
  .github/workflows/preview.yml
  .github/workflows/publish.yml
Labels: ci

feat: add coms for ui
  package.json
  src/App.tsx
  src/AppLoader.tsx
  src/main.tsx
Labels: src, package

fix: building with relative instead of absolut paths
  index.html
  vite.config.ts
Labels: none

feat: added lando file
  .lando.yml
Labels: none

ci: added issue permissions
  .github/workflows/preview.yml
Labels: ci

Create CNAME
  CNAME
Labels: none

ci: fix wrong path for pages deploy
  .github/workflows/publish.yml
Labels: ci

fix: added transmitter for ctrl + s
  src/App.tsx
  vite.config.ts
Labels: src

fix: missing toLowerCase for event.key
  src/App.tsx
Labels: src

fix: sync elementsRef with useEffect
  src/App.tsx
Labels: src

feat(draw): add tested element reconciliation
  package.json
  pnpm-lock.yaml
  src/collab.test.ts
  src/collab.ts
Labels: src, package

feat(draw): bridge cowork scenes and pointers
  src/App.test.tsx
  src/App.tsx
  src/AppLoader.test.tsx
  src/AppLoader.tsx
Labels: src

fix(draw): apply elements when editor API arrives
  src/App.test.tsx
  src/App.tsx
Labels: src

fix(draw): preserve stacking and exclude remote undo
  src/App.test.tsx
  src/App.tsx
  src/collab.test.ts
  src/collab.ts
Labels: src

fix(draw): replay pointers after editor initialization
  src/App.test.tsx
  src/App.tsx
Labels: src

feat(draw): add cowork iframe bridge (#51)
  package.json
  pnpm-lock.yaml
  src/App.test.tsx
  src/App.tsx
  src/AppLoader.test.tsx
  src/AppLoader.tsx
  src/collab.test.ts
  src/collab.ts
Labels: src, package

build: move to pnpm 11.9.0 so the alpine image build works again
  package.json
  pnpm-workspace.yaml
Labels: package

feat(draw): forward keys and execute parent replies
  src/App.test.tsx
  src/App.tsx
  src/AppLoader.test.tsx
  src/AppLoader.tsx
  src/keys.ts
Labels: src

fix(draw): replay keys on Excalidraw container
  src/App.test.tsx
  src/keys.ts
Labels: src

fix(collab): deterministically order legacy elements
  src/collab.test.ts
  src/collab.ts
Labels: src

fix(collab): apply order-only scene updates
  src/App.test.tsx
  src/App.tsx
Labels: src

chore(deps): consolidate dependabot updates and patched transitives
  .github/workflows/nightly.yml
  .github/workflows/preview.yml
  .github/workflows/publish.yml
  Dockerfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: ci, docker, package

chore(deps): update React DOM types and Vite React plugin
  package.json
  pnpm-lock.yaml
Labels: package

ci(deps): ignore TypeScript major updates until toolchain support
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: [.github/workflows/*]
src:
- changed-files:
  - any-glob-to-any-file: [src/**]
public:
- changed-files:
  - any-glob-to-any-file: [public/**]
docker:
- changed-files:
  - any-glob-to-any-file: [Dockerfile]
package:
- changed-files:
  - any-glob-to-any-file: [package.json, pnpm-lock.yaml]
